<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Добавить" icon="pi pi-plus" severity="secondary" class="mr-2" routerLink="new" />
        <p-button severity="secondary" label="Удалить" icon="pi pi-trash" outlined (onClick)="deleteSelectedCounterparties()"
                  [disabled]="!selectedCounterparties() || !selectedCounterparties()?.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Экспортировать" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="counterparties()"
  [rows]="10"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedCounterparties"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} counterparties"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Управление контрагентами</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Поиск..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name" style="min-width:16rem">Наименование</th>
            <th pSortableColumn="phone" style="min-width: 8rem">Телефон</th>
            <th pSortableColumn="email" style="min-width: 8rem">Email</th>
            <th pSortableColumn="address" style="min-width:10rem">Адрес</th>
            <th pSortableColumn="comment" style="min-width: 12rem">Комментарий</th>

            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-counterparty>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="counterparty" />
            </td>
            <td style="min-width: 16rem">{{ counterparty.name }}</td>
            <td>{{ counterparty.phone ?? '-' }}</td>
            <td>{{ counterparty.email ?? '-' }}</td>
            <td>{{ counterparty.address ?? '-' }}</td>
            <td>{{ counterparty.comment ?? '-' }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" [routerLink]="[counterparty.id]"/>
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                          (click)="deleteCounterparty(counterparty)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />